# ignore default text notes from flixel
assets/**/*-here.txt
export/*
.vscode/*
*.code-workspace
# Local history which shouldn't be shared.
.history
.ionide
# ! means a file should be added regardless of it it gets ignored prior.
# Including to allow others to use already set-up configuration tweaked for the project.
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
vscode-project.hxml
# ignore local js libs
lib/*.js
# ignore unused (for now) assets
_bongo_4*
_Mouth_Sound_*
gh-pages/*
assets-wip/*